<div class="card card-body">
    <form action="/forgotPassword" method="POST" class="ml-3 mt-3 mr-3">
        <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="Mob">Mobile Number</label>
            <input type="text" class="form-control" name="Mob">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>