<div class="card card-body">
    <form action="/forgotPassword" method="POST" class="ml-3 mt-3 mr-3">
        <div class="form-group">
            <label for="OTP">Enter OTP</label>
            <input type="text" class="form-control" name="otp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>