<h2 class="mt-2 text-center">
  Signup
</h2>
<div class="card card-body">
  <form action="/register" method="POST" class="ml-3 mt-3 mr-3">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="f_name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="l_name">
    </div>
    <div class="form-group">
      <label for="email1">Email address</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="Mob">Mobile Number</label>
      <input type="text" class="form-control" name="Mob">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" class="form-control" name="password2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>