<div class="card card-body">
  <form action="/login" method="POST" class="ml-3 mt-3 mr-3">
    <div class="form-group">
      <label for="strstn">Starting Station</label>
      <input type="text" class="form-control" name="strstn">
    </div>
    <div class="form-group">
      <label for="deststn">Destination Station</label>
      <input type="text" class="form-control"  name="deststn">
    </div>
    <div class="form-group">
      <label for="jrndate">Journey Date</label>
      <input type="date" class="form-control" name="jrndate">;
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
  </form>
</div>